export(dbitri)
export(pbitri)
export(pilotData)
export(predictpower)
export(qbitri)
export(rbitri)
export(sampleSize)
export(simdat)
importFrom("graphics", plot)
importFrom("stats", fft)
importFrom("qvalue", qvalue)
importFrom("limma", convest)
importFrom("lattice",  trellis.par.get,  trellis.par.set, xyplot, histogram, qqmath)
exportMethods(plot)
useDynLib(SSPA)
